* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Golos Text";
}

.container {
  max-width: 1098px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo h2 {
  width: 155px;
  color: rgb(219, 58, 58);
}

.header {
  max-width: 1198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-top: 30px;
  background-color: #fff;
  max-width: 1098px;
  font-family: "Golos Text";
}

.logo span {
  color: rgb(24, 24, 138);
}

header .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .button button {
  display: flex;
  color: #cbccc9;
  align-items: center;
  gap: 10px;
}

.header .button button img {
  border-radius: 100px;
  background-color: none;
}

.header .button button {
  width: 116px;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  cursor: pointer;
  background: #d92e15;
  border-radius: 10px;
  transition: all 0.5s;
}
.header .button button:hover {
  background: #a7220e;
}

header .button h4 {
  color: #fff;
  font-size: 14px;
  font-family: "Golos Text";
}

.header .seach {
  margin-left: 20px;
  margin-right: 50px;
}

.header .seach input {
  width: 338px;
  height: 52px;
  border-radius: 10px;
  border: 0.5px solid gray;
  opacity: 1;
}

.header .seach input {
  padding-left: 20px;
  font-family: "Golos Text";
}

.header .seach a {
  width: 74px;
  height: 43px;
  position: absolute;
  top: 65px;
  left: 640px;
}

.header .link_elements {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  text-align: center;
}

.header .link_elements p {
  font-size: 14px;
  color: #1d242f;
}

.header .link_elements .buyurtma {
  width: 108px;
  height: 52px;
  align-items: center;
}

.header .link_elements .buyurtma p {
  font-size: 14px;
}

.header .link_elements img {
  margin-bottom: 10px;
}

.nav {
  margin-top: 20px;
}

.nav .links ul {
  margin-bottom: 30px;
  max-width: 1068px;
  display: flex;
  font-size: 14px;
  font-family: "Golos Text";
  align-items: center;
  text-align: center;
  gap: 30px;
  transition: all 0.5s;
  list-style: none;
  justify-content: space-around;
}

.nav .links ul li a {
  transition: all 0.5s;
  color: #6C7168;
}
.nav .links ul li a:hover {
  color: #000000;
}

.nav .links ul li a {
  width: 248px;
}

.nav .links ul .green {
  width: 250px;
  height: 25px;
  padding-left: 24px;
  padding-right: 17px;
  border: none;
  padding-top: 5px;
  background-image: url(/img/aksiya.svg);
  font-size: 12px;
  border-radius: 10px;
}

.nav .links ul .green a {
  color: #fff;
}
.nav .links ul .green a:hover {
  color: #dee9d6;
}

.nav .img {
  margin-left: -50px;
}

.main .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main .title a {
  color: #6C7168;
}

.main .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main .box a {
  font-size: 12px;
  color: #1d242f;
}

.main .box .noutbuklar, .televizorlar, .Changyutgichlar, .kir-yuvish-mashinalari, .Muzlatgichlar, .smartfonlar {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(233, 227, 227);
  border-radius: 10px;
  transition: all 1s;
  margin-bottom: 50px;
}

.televizor-shop .menu-button button {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 12px;
  cursor: pointer;
  color: #6C7168;
  padding: 5px;
  border-radius: 10px;
  border: none;
  gap: 20px;
  margin-right: 25px;
  transition: all 0.5s;
}
.televizor-shop .menu-button button:hover {
  background: #cbccc9;
}

.televizor-shop .menu-button .televizor {
  background-color: #0f0f0f;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  border-radius: 15px;
}

.price {
  display: flex;
  max-width: 1100px;
  gap: 10px;
  margin-bottom: 50px;
  margin-left: -80px;
}

.price .tele-1 .zavod {
  width: 88px;
  height: 20px;
  border: none;
  background: #0e7e2e;
  border-radius: 10px;
  font-size: 9px;
  color: #fff;
}

.price .tele-1 .old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.price .tele-1 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.price .tele-1 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.price .tele-1 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.price .tele-1 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 45px;
}

.price .tele-1 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.price .tele-1 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.price .tele-1 .end-buttons button:hover {
  background: #d4d8d0;
}

.price .tele-1 .end-buttons .button-1 {
  color: #d92e15;
}

.price .tele-2 .zavod {
  width: 88px;
  height: 20px;
  border: none;
  background: #0e7e2e;
  border-radius: 10px;
  font-size: 9px;
  color: #fff;
}

.price .tele-2 .old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.price .tele-2 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.price .tele-2 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.price .tele-2 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.price .tele-2 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 30px;
}

.price .tele-2 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.price .tele-2 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.price .tele-2 .end-buttons button:hover {
  background: #d4d8d0;
}

.price .tele-2 .end-buttons .button-1 {
  color: #d92e15;
}

.price .tele-3 .zavod {
  width: 88px;
  height: 20px;
  border: none;
  background: #0e7e2e;
  border-radius: 10px;
  font-size: 9px;
  color: #fff;
}

.price .tele-3 .old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.price .tele-3 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.price .tele-3 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.price .tele-3 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.price .tele-3 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 25px;
}

.price .tele-3 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.price .tele-3 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.price .tele-3 .end-buttons button:hover {
  background: #d4d8d0;
}

.price .tele-3 .end-buttons .button-1 {
  color: #d92e15;
}

.price .tele-4 .zavod {
  width: 88px;
  height: 20px;
  border: none;
  background: #0e7e2e;
  border-radius: 10px;
  font-size: 9px;
  color: #fff;
}

.price .tele-4 .old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.price .tele-4 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.price .tele-4 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.price .tele-4 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.price .tele-4 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 45px;
}

.price .tele-4 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.price .tele-4 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.price .tele-4 .end-buttons button:hover {
  background: #d4d8d0;
}

.price .tele-4 .end-buttons .button-1 {
  color: #d92e15;
}

.price .tele-5 .zavod {
  width: 88px;
  height: 20px;
  border: none;
  background: #0e7e2e;
  border-radius: 10px;
  font-size: 9px;
  color: #fff;
}

.price .tele-5 .old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.price .tele-5 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.price .tele-5 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.price .tele-5 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.price .tele-5 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 30px;
}

.price .tele-5 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.price .tele-5 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.price .tele-5 .end-buttons button:hover {
  background: #d4d8d0;
}

.price .tele-5 .end-buttons .button-1 {
  color: #d92e15;
}

.price .tele-6 .zavod {
  width: 88px;
  height: 20px;
  border: none;
  background: #0e7e2e;
  border-radius: 10px;
  font-size: 9px;
  color: #fff;
}

.price .tele-6 .old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.price .tele-6 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.price .tele-6 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.price .tele-6 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.price .tele-6 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 42px;
}

.price .tele-6 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.price .tele-6 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.price .tele-6 .end-buttons button:hover {
  background: #d4d8d0;
}

.price .tele-6 .end-buttons .button-1 {
  color: #d92e15;
}

.price .tele-1, .tele-2, .tele-3, .tele-4, .tele-5, .tele-6 {
  border: 1px solid rgb(248, 247, 247);
  border-radius: 10px;
  padding: 10px;
}

.yangiliklar .news-1 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.yangiliklar .news-1 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.yangiliklar .news-1 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.yangiliklar .news-1 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.yangiliklar .news-1 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 22px;
}

.yangiliklar .news-1 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.yangiliklar .news-1 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.yangiliklar .news-1 .end-buttons button:hover {
  background: #d4d8d0;
}

.yangiliklar .news-1 .end-buttons .button-1 {
  color: #d92e15;
}

.yangiliklar .new-box {
  display: flex;
  gap: 10px;
  margin-left: -70px;
}

.yangiliklar .news-2 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.yangiliklar .news-2 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.yangiliklar .news-2 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.yangiliklar .news-2 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.yangiliklar .news-2 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 22px;
}

.yangiliklar .news-2 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.yangiliklar .news-2 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.yangiliklar .news-2 .end-buttons button:hover {
  background: #d4d8d0;
}

.yangiliklar .news-2 .end-buttons .button-1 {
  color: #d92e15;
}

.yangiliklar .news-3 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.yangiliklar .news-3 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.yangiliklar .news-3 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.yangiliklar .news-3 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.yangiliklar .news-3 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 42px;
}

.yangiliklar .news-3 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.yangiliklar .news-3 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.yangiliklar .news-3 .end-buttons button:hover {
  background: #d4d8d0;
}

.yangiliklar .news-3 .end-buttons .button-1 {
  color: #d92e15;
}

.yangiliklar .news-4 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.yangiliklar .news-4 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.yangiliklar .news-4 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.yangiliklar .news-4 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.yangiliklar .news-4 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 42px;
}

.yangiliklar .news-4 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.yangiliklar .news-4 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.yangiliklar .news-4 .end-buttons button:hover {
  background: #d4d8d0;
}

.yangiliklar .news-4 .end-buttons .button-1 {
  color: #d92e15;
}

.yangiliklar .news-5 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.yangiliklar .news-5 h3 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.yangiliklar .news-5 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.yangiliklar .news-5 .som {
  font-size: 14px;
  height: 18px;
}

.yangiliklar .news-5 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-top: 35px;
}

.yangiliklar .news-5 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.yangiliklar .news-5 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.yangiliklar .news-5 .end-buttons button:hover {
  background: #d4d8d0;
}

.yangiliklar .news-5 .end-buttons .button-1 {
  color: #d92e15;
}

.yangiliklar .news-5 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.yangiliklar .news-5 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.yangiliklar .news-5 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.yangiliklar .news-5 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.yangiliklar .news-5 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 22px;
}

.yangiliklar .news-5 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.yangiliklar .news-5 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.yangiliklar .news-5 .end-buttons button:hover {
  background: #d4d8d0;
}

.yangiliklar .news-5 .end-buttons .button-1 {
  color: #d92e15;
}

.yangiliklar .news-6 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.yangiliklar .news-6 h3 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.yangiliklar .news-6 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.yangiliklar .news-6 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.yangiliklar .news-6 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 52px;
}

.yangiliklar .news-6 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.yangiliklar .news-6 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.yangiliklar .news-6 .end-buttons button:hover {
  background: #d4d8d0;
}

.yangiliklar .news-6 .end-buttons .button-1 {
  color: #d92e15;
}

.yangiliklar .news-1, .news-2, .news-3, .news-4, .news-5, .news-6 {
  border: 1px solid rgb(248, 247, 247);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.yangiliklar .news-title {
  margin-bottom: 30px;
}

.xitlar {
  margin-bottom: 50px;
}

.xitlar h2 {
  margin-bottom: 30px;
}

.xitlar .xit-box {
  display: flex;
  gap: 20px;
  margin-left: -50px;
  margin-bottom: 50px;
}

.xitlar .xit-1 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 25px;
  color: #fff;
}

.xitlar .xit-1 h3 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.xitlar .xit-1 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  color: #b92812;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.xitlar .xit-1 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.xitlar .xit-1 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 22px;
}

.xitlar .xit-1 .sara {
  border: none;
  cursor: pointer;
  margin-left: 70px;
  background: none;
}

.xitlar .xit-1 .sara button {
  margin-top: 100px;
}

.xitlar .xit-1 .savat-button button {
  width: 164px;
  height: 52px;
  font: 14px;
  cursor: pointer;
  color: #fff;
  padding: 14px 10px;
  background: #d92e15;
  border: none;
  border-radius: 10px;
}
.xitlar .xit-1 .savat-button button:hover {
  background: #a7220e;
}

.xitlar .xit-2 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.xitlar .xit-2 h3 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.xitlar .xit-2 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  color: #b92812;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.xitlar .xit-2 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.xitlar .xit-2 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 22px;
}

.xitlar .xit-2 .sara {
  border: none;
  cursor: pointer;
  margin-left: 70px;
  background: none;
}

.xitlar .xit-2 .sara button {
  margin-top: 100px;
}

.xitlar .xit-2 .savat-button button {
  width: 164px;
  height: 52px;
  font: 14px;
  cursor: pointer;
  color: #fff;
  padding: 14px 10px;
  background: #d92e15;
  border: none;
  border-radius: 10px;
}
.xitlar .xit-2 .savat-button button:hover {
  background: #a7220e;
}

.xitlar .xit-3 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.xitlar .xit-3 h3 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.xitlar .xit-3 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  color: #b92812;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.xitlar .xit-3 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.xitlar .xit-3 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 52px;
}

.xitlar .xit-3 .sara {
  border: none;
  cursor: pointer;
  margin-left: 70px;
  background: none;
}

.xitlar .xit-3 .sara button {
  margin-top: 100px;
}

.xitlar .xit-3 .savat-button button {
  width: 164px;
  height: 52px;
  font: 14px;
  cursor: pointer;
  color: #fff;
  padding: 14px 10px;
  background: #d92e15;
  border: none;
  border-radius: 10px;
}
.xitlar .xit-3 .savat-button button:hover {
  background: #a7220e;
}

.xitlar .xit-4 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 70px;
  color: #fff;
}

.xitlar .xit-4 h3 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.xitlar .xit-4 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  color: #b92812;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.xitlar .xit-4 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.xitlar .xit-4 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 46px;
}

.xitlar .xit-4 .sara {
  border: none;
  cursor: pointer;
  margin-left: 70px;
  background: none;
}

.xitlar .xit-4 .sara button {
  margin-top: 100px;
}

.xitlar .xit-4 .savat-button button {
  width: 164px;
  height: 52px;
  font: 14px;
  cursor: pointer;
  color: #fff;
  padding: 14px 10px;
  background: #d92e15;
  border: none;
  border-radius: 10px;
}
.xitlar .xit-4 .savat-button button:hover {
  background: #a7220e;
}

.xitlar .xit-5 .old-price {
  margin-top: 15px;
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.xitlar .xit-5 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 60px;
  color: #fff;
}

.xitlar .xit-5 h3 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.xitlar .xit-5 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  color: #b92812;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.xitlar .xit-5 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.xitlar .xit-5 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 55px;
}

.xitlar .xit-5 .sara {
  border: none;
  cursor: pointer;
  margin-left: 70px;
  background: none;
}

.xitlar .xit-5 .sara button {
  margin-top: 100px;
}

.xitlar .xit-5 .savat-button button {
  width: 164px;
  height: 52px;
  font: 14px;
  cursor: pointer;
  color: #fff;
  padding: 14px 10px;
  background: #d92e15;
  border: none;
  border-radius: 10px;
}
.xitlar .xit-5 .savat-button button:hover {
  background: #a7220e;
}

.xitlar .xit-6 .old-price {
  margin-top: 15px;
  text-decoration: line-through;
  font-size: 12px;
}

.xitlar .xit-6 .zavod {
  width: 45px;
  height: 20px;
  border: none;
  background: #d32140;
  border-radius: 5px;
  font-size: 9px;
  margin-top: 40px;
  align-items: center;
  color: #fff;
}

.xitlar .xit-6 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.xitlar .xit-6 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  color: #b92812;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
}

.xitlar .xit-6 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.xitlar .xit-6 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 22px;
}

.xitlar .xit-6 .sara {
  border: none;
  cursor: pointer;
  margin-left: 70px;
  background: none;
}

.xitlar .xit-6 .sara button {
  margin-top: 100px;
}

.xitlar .xit-6 .savat-button button {
  width: 164px;
  height: 52px;
  font: 14px;
  cursor: pointer;
  color: #fff;
  padding: 14px 10px;
  background: #d92e15;
  border: none;
  border-radius: 10px;
}
.xitlar .xit-6 .savat-button button:hover {
  background: #a7220e;
}

.xitlar .xit-1, .xit-2, .xit-3, .xit-4, .xit-5, .xit-6 {
  border: 1px solid rgb(248, 247, 247);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.section .menu-button button {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 12px;
  cursor: pointer;
  color: #6C7168;
  padding: 5px;
  border-radius: 10px;
  border: none;
  gap: 20px;
  margin-right: 25px;
  transition: all 0.5s;
}
.section .menu-button button:hover {
  background: #cbccc9;
}

.section .menu-button .televizor {
  background-color: #0f0f0f;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  border-radius: 15px;
}

.section .shop-box {
  display: flex;
  margin-left: 20px;
  gap: 30px;
  margin-bottom: 50px;
}

.section .shop-box-1 .zavod {
  width: 88px;
  height: 20px;
  border: none;
  background: #0e7e2e;
  border-radius: 10px;
  font-size: 9px;
  color: #fff;
}

.section .shop-box-1 .old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.section .shop-box-1 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.section .shop-box-1 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.section .shop-box-1 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.section .shop-box-1 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 30px;
}

.section .shop-box-1 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.section .shop-box-1 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.section .shop-box-1 .end-buttons button:hover {
  background: #d4d8d0;
}

.section .shop-box-2 .muzlt {
  margin-left: 25px;
}

.section .shop-box-2 .old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.section .shop-box-2 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.section .shop-box-2 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.section .shop-box-2 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.section .shop-box-2 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 15px;
}

.section .shop-box-2 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.section .shop-box-2 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.section .shop-box-2 .end-buttons button:hover {
  background: #d4d8d0;
}

.section .shop-box-3 .old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.section .shop-box-3 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.section .shop-box-3 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.section .shop-box-3 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.section .shop-box-3 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 30px;
}

.section .shop-box-3 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.section .shop-box-3 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.section .shop-box-3 .end-buttons button:hover {
  background: #d4d8d0;
}

.section .shop-box-3 .konditsianer {
  margin-top: 50px;
  margin-bottom: 70px;
}

.section .shop-box-4 .avalon-kond {
  margin-left: 30px;
  margin-bottom: 20px;
}

.section .shop-box-4 .old-price {
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 5px;
}

.section .shop-box-4 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.section .shop-box-4 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.section .shop-box-4 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.section .shop-box-4 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 30px;
}

.section .shop-box-4 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.section .shop-box-4 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.section .shop-box-4 .end-buttons button:hover {
  background: #d4d8d0;
}

.section .shop-box-4 .konditsianer {
  margin-top: 50px;
  margin-bottom: 70px;
}

.section .shop-box-5 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.section .shop-box-5 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.section .shop-box-5 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.section .shop-box-5 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 30px;
}

.section .shop-box-5 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.section .shop-box-5 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.section .shop-box-5 .end-buttons button:hover {
  background: #d4d8d0;
}

.section .shop-box-5 .elektr-maydalagich {
  margin-bottom: 50px;
}

.section .shop-box-6 h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.section .shop-box-6 .bonus {
  width: 160px;
  height: 25px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
}

.section .shop-box-6 .som {
  font-size: 14px;
  height: 18px;
  margin-bottom: 10px;
}

.section .shop-box-6 .televizor-name {
  font-size: 12px;
  width: 160px;
  color: #6C7168;
  margin-bottom: 30px;
}

.section .shop-box-6 .end-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.section .shop-box-6 .end-buttons button {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.section .shop-box-6 .end-buttons button:hover {
  background: #d4d8d0;
}

.section .shop-box-6 .sharbat-chiqargich {
  margin-bottom: 20px;
}

.section .shop-box-1, .shop-box-2, .shop-box-3, .shop-box-4, .shop-box-5, .shop-box-6 {
  border: 1px solid rgb(248, 247, 247);
  border-radius: 10px;
  padding: 10px;
}/*# sourceMappingURL=main.css.map */